@font-face {
  font-family: "EBGaramond";
  src: url("/font/EBGaramond-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EBGaramond";
  src: url("/font/EBGaramond-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: italic;
  font-style: italic;
}

@font-face {
  font-family: "LXGWWenKai";
  src: url("/font/LXGWWenKai-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProggyCleanSZ";
  src: url("/font/ProggyCleanSZNerdFontMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
