@import url("font.css");
@import url("theme.css");

html {
  overflow: hidden;
}

a:link {
  color: #5f87ff;
  text-decoration: none;
}

a:visited {
  color: #5f87ff;
}

.header-name {
  color: var(--em-color);
  margin: 0;
  padding: 0;
}

.header-occupation {
  color: var(--em-color);
}

.header-body {
  color: var(--em-color);
  font-family: "EBGaramond", sans-serif;
  font-variant: small-caps;
  margin: 0 auto;
  padding: 0;
}

.header-image {
  height: 100px;
  width: 100px;
  margin-right: 2em;
}

.header-info {
  align-items: center;
  display: flex;
  text-align: left;
}

.header-nav {
  margin-bottom: 0em;
  margin-top: 0em;
}
