@import url("font.css");

html {
  overflow: hidden;
}

a:link {
  color: #5f87ff;
  text-decoration: none;
}

a:visited {
  color: #5f87ff;
}

.header-body {
  margin: 0 auto;
  padding: 0;

  color: #fafafa;

  font-family: "EBGaramond", sans-serif;
  font-variant: small-caps;
}

.header-image {
  margin-right: 2em;
  width: 100px;
  height: 100px;
}

.header-info {
  display: flex;
  align-items: center;
  text-align: left;
}

.header-nav {
  margin-top: 0em;
  margin-bottom: 0em;
}
