@import url("header.css");

@font-face {
  font-family: "Monsterrat";
  src: "/fonts/Monsterrat/Monsterrat-Regular.ttf";
}

@font-face {
  font-family: "Open Sans";
  src: "/fonts/OpenSans/OpenSans-Regular.ttf";
}

.textsc {
  font-family: "Monsterrat";
  font-size: 30px;
  font-variant: small-caps;
  color: #fdf6e3;
}

.text-center {
  text-align: center;
}

.nav-bar-link {
  text-decoration: none;
  color: #fdf6e3;
}

.p-link {
  text-decoration: none;
  color: #282828;
}

.pdf {
  height: 800px;
  width: 90%;
  float: middle;
}

a {
  text-decoration: none;
}

/* a:link, a:visited { */
/*   color: #fdf6e3; */
/* } */

body {
  background-color: #fdf6e3;
  margin: 0px;
}

h1, h2 {
  font-family: "Monsterrat";
}

p, ul {
  font-family: "Open Sans";
}

/* h1 { */
/*   text-align: center; */
/* } */
