@import url("font.css");
@import url("theme.css");

a:link {
  color: #5f87ff;
  text-decoration: none;
}

a:visited {
  color: #ff875f;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: "EBGaramond", sans-serif;
  max-width: 50%;
  min-width: 60ch;
  margin: 0 auto;
  padding: 2em;
  word-wrap: break-word;
}

code, pre {
  color: var(--em-color);
  display: flex;
  font-family: "VT323", monospace;
  justify-content: center;
  word-wrap: break-word;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

p {
  text-align: justify;
}

tt {
  color: var(--em-color);
  font-family: "VT323", monospace;
  word-wrap: break-word;
}

.header {
  margin-bottom: 1em;
  width: 100%;
}
