@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Montserrat:500&display=swap');
@import url("header.css");

.body-margin {
  margin: 2rem;
}

.nav-bar-link {
  text-decoration: none;
  color: #fdf6e3;
}

.p-link {
  text-decoration: none;
  color: #282828;
}

.pdf {
  height: 50em;
  width: 90%;
  float: middle;
}

a {
  text-decoration: none;
}

body {
  background-color: #fdf6e3;
  margin: 0rem;  /*Set to 0 to make header 100% width.*/
}

h1, h2, h3, ul {
  font-family: 'EB Garamond', serif;
}

ul {
  font-size: 1.2rem;
}

figure, p {
  font-family: 'Monsterrat', sans-serif;
}
